<!--
  Generated template for the CommitteeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div *ngFor="let user of userCredential">
        <ion-title class="committeetitle">{{user.EnglishName}}</ion-title>
    </div>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngFor="let user of userCredential">
        <img [src]="sanitizer.bypassSecurityTrustUrl(user.QRCodeImage)">

        <div style="text-align:center">
          <ion-row>
            <ion-col col-12>
                <p style="font-size: 20px;">{{user.EventRegID}}</p>
                <p style="font-size: 15px;">{{user.UserType}}</p>
            
            </ion-col>
          </ion-row>

         
                 
            
        </div>
        <ion-list class="orders-list">

        
          <ion-item>
            <ion-icon item-start name="md-person"></ion-icon>
            <p>{{user.EnglishName}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-mail"></ion-icon>
            <p>{{user.Email}}</p>
          </ion-item>
          <ion-item>
            <ion-icon item-start name="md-call"></ion-icon>
            <p>{{user.Contact}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-bookmark"></ion-icon>
            <p>{{user.Title}}</p>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-icon item-start name="md-locate"></ion-icon>
            <p>{{user.Constituent}}</p>
          </ion-item>

          <ion-item>


            <ion-icon item-start name="md-briefcase"></ion-icon>
            <p>{{user.CompanyName}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-people"></ion-icon>
            <p>{{user.OrganizationName}}</p>
          </ion-item>

        
        </ion-list>
       
      </div>
</ion-content>
