page-attandancelist {
    .toolbar-title-md{
        color : white;
        font-size: 15;
    }
    .toolbar-background{
    background: linear-gradient(120deg,#ffb92d  0%, #e04718 100%); 
     //background-color: #ED6D10;
     //color: white;
     
    }

    .bar-button-default-md{
        color: white;
    }

    .segment-md .segment-button {
        color:#ED6D10; 
       }
       
       .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
           border-color: #ED6D10;
       }
       .swiper-slide{
        position: initial;
    }
}
