<!--
  Generated template for the AttandancelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Attendance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="attendancePresent($event);">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-segment [(ngModel)]="attendance">
    <ion-segment-button value="present">
      <p class="item-title" style="color:#ED6D10;">Present</p>

    </ion-segment-button>
    <ion-segment-button value="absent">
      <p class="item-title" style="color:#ED6D10;">Pending / Absent</p>
    </ion-segment-button>


  </ion-segment>

  <div [ngSwitch]="attendance">
    <div *ngSwitchCase="'present'">
       
          <ion-searchbar (ionInput)="getPresentUser($event);" [debounce]="500" placeholder="Search By English Name Only">
          </ion-searchbar>
        <ion-card *ngFor="let presentuser of getPresentAttendance">
            <ion-grid (click)="showSpecificUser(presentuser.EventRegistrationID);">
              <ion-row style="margin-top: 5px;">
    
    
                <ion-col col-10>
                    <div *ngIf="presentuser.Status">
                       <p style="font-size:20px; font-weight:bold; color:green;">{{presentuser.CheckInTime |date: "dd/MM/yyyy H:mm a" }}</p>
                    </div>
                  <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{presentuser.MemberRegistrationID}}</h3>
                  <h3 style="margin-top: 8px;">{{presentuser.MemberName}}</h3>
                  <h3 style="margin-top: 8px;">{{presentuser.MemberType}}</h3>
                 
                </ion-col>
                <ion-col col-2>
                    <div *ngIf="presentuser.Status">
                        <ion-icon style="color:green; font-size:4rem; margin-top:20px;" ios="ios-checkmark-circle" md="md-checkmark-circle" large></ion-icon>
                    </div>
                   
                </ion-col>
   
              </ion-row>
            </ion-grid>
          </ion-card>
    </div>
  </div>

  <div [ngSwitch]="attendance">
      <div *ngSwitchCase="'absent'">
          <ion-searchbar (ionInput)="getAbsentUser($event);" [debounce]="500" placeholder="Search By English Name Only">
            </ion-searchbar>
          <ion-card *ngFor="let absentuser of getAbsentAttendance">
              <ion-grid (click)="showSpecificUser(absentuser.EventRegistrationID);">
                <ion-row style="margin-top: 5px;">
      
      
                  <ion-col col-10>
                    
                    <h3 style="margin-top: 8px;">{{absentuser.MemberRegistrationID}}</h3>
                    <h3 style="margin-top: 8px;">{{absentuser.MemberName}}</h3>
                    <h3 style="margin-top: 8px;">{{absentuser.MemberType}}</h3>
                   
                  </ion-col>
                  <ion-col col-2>
                      <div *ngIf="!absentuser.Status">
                          <ion-icon style="color:red; font-size:4rem; margin-top:20px;" ios="ios-close-circle" md="md-close-circle" large></ion-icon>
                      </div>
                  </ion-col>
     
                </ion-row>
              </ion-grid>
            </ion-card>
      </div>
    </div>
</ion-content>