<ion-header>
  <ion-navbar>

    
    <div *ngFor="let username of userCredential">
        <ion-title>Hi, {{username.EnglishName}} </ion-title>
      </div>

    <ion-buttons right>
      <button (click)="signOut();" style="background-color:transparent; margin-top:10px;">
          <ion-icon name="md-power" style="margin-top: -50px !important; font-size:25px;"></ion-icon>
      </button>
     
    </ion-buttons>
       
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="allRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <div [ngSwitch]="homeSegment">
    <div *ngSwitchCase="'home'">
      <h3>Total Registration</h3>
      <ion-row>
        <ion-col col-6>
          <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px;">
            <ion-grid text-center>
                <ion-row style="margin-top: 5px;">
            <ion-col col-12> 
                <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Member</h2>         
              
                <p style="font-size:20px; color:darkgreen;">{{totalmember}}</p>   
              </ion-col>   
                              
          </ion-row>
            </ion-grid>             
        </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px;">
            <ion-grid text-center>
                <ion-row style="margin-top: 5px;">
            <ion-col col-12> 
                <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Non-Member</h2>         
              
                <p style="font-size:20px; color:darkgreen;">{{totalnonmember}}</p>   
              </ion-col>   
                              
          </ion-row>
            </ion-grid>             
        </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px;">
            <ion-grid text-center>
                <ion-row style="margin-top: 5px;">
            <ion-col col-12> 
                <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Local Guest</h2>         
              
                <p style="font-size:20px; color:darkgreen;">{{totallocalguest}}</p>   
              </ion-col>   
                              
          </ion-row>
            </ion-grid>             
        </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px;">
            <ion-grid text-center>
                <ion-row style="margin-top: 5px;">
            <ion-col col-12> 
                <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Oversea Guest</h2>         
              
                <p style="font-size:20px; color:darkgreen;">{{totaloverseaguest}}</p>   
              </ion-col>   
                              
          </ion-row>
            </ion-grid>             
        </ion-card>
        </ion-col>
      </ion-row>

      <h3>Total Programme</h3>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px;">
                <ion-grid text-center>
                    <ion-row style="margin-top: 5px;">
                <ion-col col-12> 
                    <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Programme</h2>       
                  
                    <p style="font-size:20px; color:darkgreen;">{{totalevent}}</p>   
                  </ion-col>   
                                  
              </ion-row>
                </ion-grid>             
            </ion-card>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <h3>Total Advertisement</h3>
      <!-- <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
            <ion-card style=" background: linear-gradient(120deg, #e04718 0%, #ffb92d 100%);">
                <ion-grid text-center>
                    <ion-row style="margin-top: 5px;">
                <ion-col col-12> 
                    <h2 style="margin-top: 8px;">Diamond Sponsor</h2>         
                  
                    <p style="font-size:20px;">{{totaldiamondsponsor}}</p>   
                  </ion-col>   
                                  
              </ion-row>
                </ion-grid>             
            </ion-card>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
            <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px; ">
                <ion-grid text-center>
                    <ion-row style="margin-top: 5px;">
                <ion-col col-12> 
                    <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Platinum <br/> Sponsor</h2>         
                  
                    <p style="font-size:20px; color:darkgreen;">{{totalplatinumsponsor}}</p>   
                  </ion-col>   
                                  
              </ion-row>
                </ion-grid>             
            </ion-card>
        </ion-col>
        
        <ion-col col-3></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
            <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px; ">
                <ion-grid text-center>
                    <ion-row style="margin-top: 5px;">
                <ion-col col-12> 
                    <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Gold <br/> Sponsor</h2>         
                  
                    <p style="font-size:20px; color:darkgreen;">{{totalgoldsponsor}}</p>   
                  </ion-col>   
                                  
              </ion-row>
                </ion-grid>             
            </ion-card>
        </ion-col>
      
     
          <ion-col col-6>
              <ion-card style="border-color:#ffaa83; border-style:solid; border-radius:4px; ">
                  <ion-grid text-center>
                      <ion-row style="margin-top: 5px;">
                  <ion-col col-12> 
                      <h2 style="margin-top: 8px; text-decoration: underline; color: #000000; font-weight:bold;">Silver <br/> Sponsor</h2>         
                    
                      <p style="font-size:20px; color:darkgreen;">{{totalsilversponsor}}</p>   
                    </ion-col>   
                                    
                </ion-row>
                  </ion-grid>             
              </ion-card>
          </ion-col>
          <!-- <ion-col col-6>
              <ion-card style=" background: linear-gradient(120deg, #e04718 0%, #ffb92d 100%);">
                  <ion-grid text-center>
                      <ion-row style="margin-top: 5px;">
                  <ion-col col-12> 
                      <h2 style="margin-top: 8px;">Supporting <br/> Sponsor</h2>         
                    
                      <p style="font-size:20px;">{{totalsupportingsponsor}}</p>   
                    </ion-col>   
                                    
                </ion-row>
                  </ion-grid>             
              </ion-card>
          </ion-col> -->
        </ion-row>
    </div>

    <div *ngSwitchCase="'committee'">
        
           
         
      <ion-segment [(ngModel)]="committeeinfo">

        <ion-segment-button value="member">
          <p class="item-title" style="color:#ED6D10;">Member</p>
        </ion-segment-button>

        <ion-segment-button value="overseaguest">
          <p class="item-title" style="color:#ED6D10;">Ovrs Guest</p>

        </ion-segment-button>

        <ion-segment-button value="localguest">
          <p class="item-title" style="color:#ED6D10;">Local Guest</p>

        </ion-segment-button>

        <ion-segment-button value="nonmember">
          <p class="item-title" style="color:#ED6D10;">Non-Member</p>

        </ion-segment-button>



      </ion-segment>

      <div [ngSwitch]="committeeinfo">
        <div *ngSwitchCase="'member'">
            <ion-searchbar (ionInput)="searchMember($event);" [debounce]="500" placeholder="Search By Name Only">
              </ion-searchbar>
            <ion-card *ngFor="let getmember of showMember">
                <ion-grid (click)="showSpecificUser(getmember.id);">
                    <ion-row style="margin-top: 5px;">
                    
    
                <ion-col col-10> 
                    <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getmember.EventRegID}}</h3>         
                    <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getmember.EnglishName}}</h3>
                    <p>{{getmember.UserType}}</p>   
                  </ion-col>    
                              
              </ion-row>
                </ion-grid>             
            </ion-card>
        </div>
      </div>

        <div [ngSwitch]="committeeinfo">
            <div *ngSwitchCase="'localguest'">
                <ion-searchbar (ionInput)="searchLocalGuest($event);" [debounce]="500" placeholder="Search By Name Only">
                  </ion-searchbar>
                <ion-card *ngFor="let getlocalguest of showLocalGuest">
                    <ion-grid (click)="showSpecificUser(getlocalguest.id);">
                        <ion-row style="margin-top: 5px;">
                        
        
                    <ion-col col-10> 
                        <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getlocalguest.EventRegID}}</h3>         
                        <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getlocalguest.EnglishName}}</h3>
                        <p>{{getlocalguest.UserType}}</p>   
                      </ion-col>   
                                         
                  </ion-row>
                    </ion-grid>             
                </ion-card>
            </div>
          </div>

          <div [ngSwitch]="committeeinfo">
              <div *ngSwitchCase="'overseaguest'">
                  <ion-searchbar (ionInput)="searchOverseaGuest($event);" [debounce]="500" placeholder="Search By Name Only">
                    </ion-searchbar>
                  <ion-card *ngFor="let getoverseaguest of showOverseaGuest">
                      <ion-grid (click)="showSpecificUser(getoverseaguest.id);">
                          <ion-row style="margin-top: 5px;">
                          
          
                      <ion-col col-12> 
                          <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getoverseaguest.EventRegID}}</h3>         
                          <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getoverseaguest.EnglishName}}</h3>
                          <p>{{getoverseaguest.UserType}}</p>   
                        </ion-col>   
                                         
                    </ion-row>
                      </ion-grid>             
                  </ion-card>
              </div>
            </div>

            <div [ngSwitch]="committeeinfo">
                <div *ngSwitchCase="'nonmember'">
                    <ion-searchbar (ionInput)="searchNonMember($event);" [debounce]="500" placeholder="Search By Name Only">
                      </ion-searchbar>
                    <ion-card *ngFor="let getnonmember of showNonMember">
                        <ion-grid (click)="showSpecificUser(getnonmember.id);">
                            <ion-row style="margin-top: 5px;">
                            
            
                        <ion-col col-10> 
                            <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getnonmember.EventRegID}}</h3>         
                            <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{getnonmember.EnglishName}}</h3>
                            <p>{{getnonmember.UserType}}</p>   
                          </ion-col>   
                                       
                      </ion-row>
                        </ion-grid>  
                                  
                    </ion-card>
                </div>
              </div>
    </div>






    <div *ngSwitchCase="'attendance'">
        <ion-searchbar (ionInput)="getEventTitleForAttendance($event);" [debounce]="500" placeholder="Search By Event Title Only">
          </ion-searchbar>
        <div *ngFor="let item of eventlistingattendance" style="margin-top:30px;">
            <div *ngIf="item">
              <ion-card>
                <ion-grid (click)="gotoAttendanceDetail(item.EventID);">
                  <ion-row>
                    <ion-col col-12>

                      <div *ngIf="item.EventImage">
                        <img style="width: 100%; height: 100%; border-radius: 9px"
                          src="http://admin.acccim-registration.org.my{{item.EventImage}}">
                      </div>
                      <div *ngIf="!item.EventImage">
                        <img style="width: 100%; height: 100%; border-radius: 9px"
                          src="../../assets/imgs/ACCIMlogo.png">
                      </div>

                    </ion-col>
                  </ion-row>
                  <ion-row>

                    <ion-col col-12>
                      <p style="margin-top: 8px;" text-center><b>{{item.EventTitle}}</b></p>



                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-2>
                      <label>
                        <ion-icon name="calendar" style="font-size:30px; margin-right:20px;"></ion-icon>
                      </label>
                    </ion-col>
                    <ion-col col-10>
                      <label class="product-price">{{item.StartDate | date: "yyyy/MM/dd"}}</label>
                      <label class="product-price"> {{item.StartTime}}</label>
                    </ion-col>

                    <ion-col col-2>
                      <label>
                        <ion-icon name="person" style="font-size:30px; margin-right:20px;"></ion-icon>
                      </label>
                    </ion-col>
                    <ion-col col-10>
                      <label><i>Available For :</i></label>
                      <div *ngFor="let gett of item.MemberAvailability_tb">
                        <label>{{gett.MemberType}}</label>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>


          </div>
    </div>

    <div *ngSwitchCase="'scan'">
        <ion-searchbar (ionInput)="getEventTitle($event);" [debounce]="500" placeholder="Search By Event Title Only">
          </ion-searchbar>
        <div *ngFor="let item of eventlisting" style="margin-top:30px;">
            <div *ngIf="item">
              <ion-card>
                <ion-grid (click)="gotoQRDetail(item.EventID);">
                  <ion-row>
                    <ion-col col-12>

                      <div *ngIf="item.EventImage">
                        <img style="width: 100%; height: 100%; border-radius: 9px"
                          src="http://admin.acccim-registration.org.my{{item.EventImage}}">
                      </div>
                      <div *ngIf="!item.EventImage">
                        <img style="width: 100%; height: 100%; border-radius: 9px"
                          src="../../assets/imgs/ACCIMlogo.png">
                      </div>



                    </ion-col>
                  </ion-row>
                  <ion-row>

                    <ion-col col-12>
                      <p style="margin-top: 8px;" text-center><b>{{item.EventTitle}}</b></p>



                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-2>
                      <label>
                        <ion-icon name="calendar" style="font-size:30px; margin-right:20px;"></ion-icon>
                      </label>
                    </ion-col>
                    <ion-col col-10>
                      <label class="product-price">{{item.StartDate | date: "yyyy/MM/dd"}}</label>
                      <label class="product-price"> {{item.StartTime}}</label>
                    </ion-col>

                    <ion-col col-2>
                      <label>
                        <ion-icon name="person" style="font-size:30px; margin-right:20px;"></ion-icon>
                      </label>
                    </ion-col>
                    <ion-col col-10>
                      <label><i>Available For :</i></label>
                      <div *ngFor="let gett of item.MemberAvailability_tb">
                        <label>{{gett.MemberType}}</label>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>


          </div>
    </div>

  </div>




</ion-content>



<ion-footer>

  <ion-toolbar class="footer-color">

    <ion-segment [(ngModel)]="homeSegment">
      <ion-segment-button value="home">
        <ion-icon name="home" style="margin-top: -50px !important; ">
        </ion-icon>

        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Home</p>
        </div>
      </ion-segment-button>



      <ion-segment-button value="committee">
        <ion-icon name="md-contacts" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Committee</p>
        </div>
      </ion-segment-button>
      <ion-segment-button value="attendance">
        <ion-icon name="md-checkbox-outline" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Attendance</p>
        </div>
      </ion-segment-button>

      <ion-segment-button value="scan" (click)="showScanAlert();">
        <ion-icon name="md-qr-scanner" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Scan</p>
        </div>
      </ion-segment-button>


    </ion-segment>
  </ion-toolbar>
</ion-footer>