<!--
  Generated template for the QrScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Scan Attendance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="attendanceRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-segment [(ngModel)]="scanqrinfo">
      <ion-segment-button value="scan">
          <p class="item-title" style="color:#ED6D10;">Scan</p>
    
        </ion-segment-button>
    <ion-segment-button value="rsvplist">
      <p class="item-title" style="color:#ED6D10;">RSVP List</p>
    </ion-segment-button>

   
  </ion-segment>
  <div [ngSwitch]="scanqrinfo">
    <div *ngSwitchCase="'rsvplist'">

     
      <ion-searchbar (ionInput)="getUserUpdate($event);" [debounce]="500" placeholder="Search By English Name Only">
      </ion-searchbar>
      <ion-card *ngFor="let rsvpevent of showRsvpEvent">
        <ion-grid (click)="showSpecificUser(rsvpevent.EventRegistrationID);">
          <ion-row style="margin-top: 5px;">


            <ion-col col-10>
                <div *ngIf="rsvpevent.Status">
                    <p style="font-size:20px; font-weight:bold; color:green;">{{rsvpevent.CheckInTime |date: "dd/MM/yyyy H:mm a" }}</p>
                </div>
              <h3 style="margin-top: 8px; font-size:15px; font-weight:bold;">{{rsvpevent.MemberRegistrationID}}</h3>
              <h3 style="margin-top: 8px;">{{rsvpevent.MemberName}}</h3>
              <h3 style="margin-top: 8px;">{{rsvpevent.MemberType}}</h3>
             
            </ion-col>
        <ion-col col-2>
            <div *ngIf="rsvpevent.Status">
                <ion-icon style="color:green; font-size:4rem; margin-top:20px;" ios="ios-checkmark-circle" md="md-checkmark-circle" large></ion-icon>
            </div>
            <div *ngIf="!rsvpevent.Status">
                <ion-icon style="color:red; font-size:4rem; margin-top:20px;" ios="ios-close-circle" md="md-close-circle" large></ion-icon>
            </div>
             
        </ion-col>
             
                   
                  
             
              
           
          </ion-row>
        </ion-grid>
      </ion-card>

    </div>
  </div>

  <div [ngSwitch]="scanqrinfo">
    <div *ngSwitchCase="'scan'">
      <div style="text-align:center">
        <ion-row>
          <ion-col col-12>
              <button style="width:100%;" ion-button (click)="scanCode()">Scan</button>
          </ion-col>
        </ion-row>
         
      </div>
      
    </div>
  </div>





</ion-content>